body {
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 50px;
  max-width: 500px;
  padding: 0;
  font-family: 'Playfair Display', serif;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}




hr {
    border: none;
    background-color: lightgrey;
    height: 1px;
    max-width: 200px;
    margin-left: 0px;
    
}
