h2{
	font-weight: 300;
}



button{
  border-style: none;
  background-color: white;
  cursor: pointer;
  float:right;
  display: none;
}

@media (pointer:coarse) {
    button {
      display: inline;
    }
}

.todoListItem:hover .removeButton{
  display:inline;
}


.divHover:hover .addItemButton{
	display:inline;
}



.todoListItem{
  /*padding-bottom: 30px;*/
  cursor: pointer;
}

.title{
  display:inline;
}

.titleBox:hover .logoutButton{
  display:inline;
  color:lightgrey;
}


div.placeholder {
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-top: none;
  border-bottom: none;}

div.placeholder:before {
  content: "Drop here";
  color: grey;
  font-family: sans-serif;
  font-size: 0.7rem;
  padding-left: 5px;
}

.container{
	margin-top: 50px;
}


.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
