h3{
	font-style: bold;
}


button{
  border-style: none;
  background-color: white;
  cursor: pointer;
  float: right;
  display: none;
}

@media (pointer:coarse) {
    button {
      display: inline;
    }
}

.todoListItem:hover  .removeButton{
  display: inline;
}

.divHover:hover .addItemButton{
	display:inline;
}



.todoListItem{
  margin-bottom: 30px;
}

.title{
  display:inline;
}

.titleBox:hover .logoutButton{
  display:inline;
  color:lightgrey;
}

