h2{
	font-weight: 300;
}



button{
  border-style: none;
  background-color: white;
  cursor: pointer;
  float:right;
  display: none;
}

@media (pointer:coarse) {
    button {
      display: inline;
    }
}

.todoListItem:hover .removeButton{
  display:inline;
}


.divHover:hover .addItemButton{
	display:inline;
}



.todoListItem{
  /*padding-bottom: 30px;*/
  cursor: pointer;
}

.title{
  display:inline;
}

.titleBox:hover .logoutButton{
  display:inline;
  color:lightgrey;
}


div.placeholder {
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-top: none;
  border-bottom: none;}

div.placeholder:before {
  content: "Drop here";
  color: grey;
  font-family: sans-serif;
  font-size: 0.7rem;
  padding-left: 5px;
}
